<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (WinnerIndex == -1) { %>
        <h1>DRAW !!!</h1>
    <% } else { %>
        <h1> WIndex = Team <%= WinnerIndex +1 %></h1>
    <% } %>
    <h1> WTeam = <%= WinnerTeam %></h1>
    <h1> LTeam = <%= LoserTeam %></h1>
</body>
</html>